<footer class="site-footer" role="contentinfo">
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-left">
                <%- include('partials/footer-copyright', { copyrightYear, copyrightHolder, t }) %>
                <div class="footer-legal">
                    <%- menu('footer_legal_links', { 
                        container: false, 
                        menu_class: 'footer-links',
                        link_class: 'footer-legal-link',
                        aria_label: t ? t('navigation.legal') : 'Legal links',
                        context
                    }) %>
                </div>
            </div>
            <div class="footer-right">
                <%- include('partials/footer-logo', { companyUrl, logoFooterLight, logoFooterDark, logoAlt }) %>
            </div>
        </div>
    </div>
</footer>
